.navigation_links
    display: flex
    margin-left: 40px
    column-gap: 25px
    @media(max-width: 640px)
        display: none

    .nav_special_item
        position: relative
        padding: 0 3px
        color: white
        jakarta 14
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        &:hover
        &.active
            &:after
                width: 100%
        
        &:after
            position: absolute
            content: ''
            width: 0
            height: 2px
            border-radius: 10px
            background-color: $verdeClaro
            bottom: 12px
            transition .2s ease
            &:hover
                width: 100%