.categorias_index
    padding: 60px

    .centre
        margin: 0 auto
        max-width: 1000px
        @media(max-width: 1050px)
            max-width: 100%

        .btn_create
            margin-bottom: 30px

        table
            border-radius: 8px
            overflow: hidden

            .btns
                display: flex
                align-items: center

            .square
                width: 15px
                height: 15px

        form
            margin-bottom: 0

//Create, Edit and Form
.previsoes_form
    .centre
        max-width: 600px
        margin: 40px auto 20px auto
        display: flex

    .forms
        max-width: 600px
        background-color: $grey800
        border-radius: 8px
        margin: 10px auto 40px auto
        padding: 20px

        .line
            position: relative
            display: flex
            flex-direction: column
            row-gap: 5px
            margin-bottom: 15px

            label
                jakarta 15
                margin: 0
                color: $branco

            .input_text
                padding-left: 15px
                padding-right: 15px
                color: $roxo
                jakarta 15

            .select_default
                color: $roxo

            .square
                position: absolute
                z-index: 1
                top: 4px
                left: 37px
                width: 15px
                height: 15px
                border-radius: 2px

    .message
        border-radius: 6px
        background-color: darkred
        color: white
        text-align: center
        padding-left: 15px
        padding-right: 15px
        margin-bottom: 10px