.dashboard_external
    background-color: #f3f3f3
    min-height: 900px

    .centre
        display block
        max-width: 1200px
        margin-left: auto
        margin-right: auto
        padding-top: 50px
        padding-bottom: 70px
        @media (max-width: 1230px)
            max-width: 90%

