// .profile_main
//     background-color: #f3f3f3
//     min-height: 900px

//     .centre
//         max-width: 1220px
//         margin-left: auto
//         margin-right: auto
//         padding-bottom: 70px
//         padding-top: 50px
//         @media (max-width: 1230px)
//             max-width: 90%

.estilo
    background-color: red
    color white
