main.registros
    padding: 40px 0

    .center
        max-width: 1200px
        margin: 0 auto
        @media(max-width: 1220px)
            max-width: 80%
            
        .title
            jakarta 20
            text-align: center
            font-weight: 600
            margin-bottom: 40px
            margin-top: 50px

        .father
            margin-bottom: 20px
            margin-top: 15px

            .card
                display: flex
                justify-content: space-evenly
                align-items: center
                background-color: rgba(119, 61, 61, 0.9)
                border-radius: 8px
                width: 100%
                height: 90px
                padding: 0 20px
                margin-bottom: 15px
                @media(max-width: 1220px)
                    flex-direction: column
                    height: auto
                    row-gap: 25px
                    align-items: center
                    justify-content: center
                    padding: 30px 15px

                .category
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .card_title
                    width: 300px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        // text-align: center
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        // text-align: center
                        @media(max-width: 1220px)
                            text-align: center


                .value
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .month
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .type
                    width: 90px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        text-transform: uppercase
                        @media(max-width: 1220px)
                            text-align: center

                .manage
                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        text-align: center
                        margin-bottom: 7px

                    .down
                        display: flex
                        height: 30px
                    
                    .pop_up_bg
                        background-color: rgba(0,0,0,0.7)

                    .edit_ledger_popup
                        background-color: rgba(119, 61, 61, 0.9)
                        color: $branco

                        .closer
                            position: absolute
                            width: 30px
                            height: 30px
                            top: 7px
                            right: 8px
                            user-select: none
                            cursor: pointer

                        .forms
                            max-width: 90%
                            margin: 0 auto
                            padding-bottom: 20px

                            .fields
                                display: flex
                                justify-content: space-between
                                margin-bottom: 40px
                                column-gap: 10px
                                flex-wrap: wrap
                                align-items: center
                                justify-content: center
                                row-gap: 20px
                                @media (max-width: 740px)
                                    flex-direction: column
                                    max-width: 440px
                                    margin: 0 auto
                                    margin-bottom: 50px

                                .object
                                    display: flex
                                    flex-direction: column
                                    @media (max-width: 740px)
                                        width: 100% 

                                    label
                                        jakarta 15
                                        margin-bottom: 2px
                                        @media (max-width: 740px)
                                            margin-bottom: 5px
                                            text-align: center

                                    input
                                        @media (max-width: 740px)
                                            width: 100%

                                    select
                                        max-width: 173px
                                        @media (max-width: 740px)
                                            width: 100%
                                            max-width: 100%

                                    .number_live
                                        max-width:140px
                                        @media (max-width: 740px)
                                            width: 100%
                                            max-width: 100%

                                        .input_number
                                            max-width:140px
                                            @media (max-width: 740px)
                                                width: 100%
                                                max-width: 100%

                                    #descricao
                                        width: 350px
                                        @media(max-width: 870px)
                                            width: 250px
                                        @media (max-width: 740px)
                                            width: 100%


                                .date_input
                                    @media(max-width: 870px)
                                        width: 198px

.filters_reg
    margin-bottom: 30px
    @media (max-width: 1220px)
        width: 100%

    .centre
        max-width: 1200px
        @media (max-width: 470px)
            width: 100%
            max-width: 100%

        form
            display: flex
            column-gap: 15px
            @media (max-width: 1220px)
                flex-direction: column
                row-gap: 5px
                align-items: center
                width: 280px
                margin: 0 auto
                align-items: flex-end
            @media (max-width: 470px)
                width: 100%

            .input_text
                color: $verdeMedio
                @media (max-width: 1220px)
                    width: 100%

            .date_input
                @media (max-width: 1220px)
                    width: 100%

            .input_limiter
                max-width: 173px
                @media (max-width: 1220px)
                    max-width: 100%

            .btn_search
                @media (max-width: 1220px)
                    width: 100%
