main.registros
    padding: 40px 0

    .center
        max-width: 1200px
        margin: 0 auto
        @media(max-width: 1220px)
            max-width: 80%
            
        .title
            jakarta 20
            text-align: center
            font-weight: 600
            margin-bottom: 40px
            margin-top: 50px

        .father
            margin-bottom: 20px
            margin-top: 15px

            .card
                display: flex
                justify-content: space-evenly
                align-items: center
                background-color: rgba(119, 61, 61, 0.9)
                border-radius: 8px
                width: 100%
                height: 90px
                padding: 0 20px
                margin-bottom: 15px
                @media(max-width: 1220px)
                    flex-direction: column
                    height: auto
                    row-gap: 25px
                    align-items: center
                    justify-content: center
                    padding: 30px 15px

                .category
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .card_title
                    width: 300px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        // text-align: center
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        // text-align: center
                        @media(max-width: 1220px)
                            text-align: center


                .value
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .month
                    width: 120px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        @media(max-width: 1220px)
                            text-align: center

                .type
                    width: 90px
                    display: block

                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        margin-bottom: 5px
                        @media(max-width: 1220px)
                            text-align: center

                    .down
                        jakarta 16
                        color: $branco
                        text-transform: uppercase
                        @media(max-width: 1220px)
                            text-align: center

                .manage
                    .upper
                        jakarta 14
                        color: $branco
                        font-weight: 500
                        text-align: center
                        margin-bottom: 7px

                    .down
                        display: flex
                        height: 30px

                    .edit_popup
                        background-color: $roxo
                        color: $branco

                        .closer
                            position: absolute
                            width: 30px
                            height: 30px
                            top: 7px
                            right: 8px
                            user-select: none
                            cursor: pointer

                        .forms
                            max-width: 380px
                            margin: 0 auto
                            padding-bottom: 20px

                            .fields
                                display: flex
                                justify-content: space-between
                                margin-bottom: 40px
                                column-gap: 10px
                                flex-wrap: wrap
                                align-items: center
                                justify-content: center
                                row-gap: 20px

                                .date_input
                                    @media(max-width: 870px)
                                        width: 198px

.filters_reg
    margin-bottom: 30px

    .center
        max-width: 1200px

        form
            display: flex
            column-gap: 15px

            .input_text
                color: $verdeMedio